{{#> www/page }}

{{#*inline "body-block"}}

<h1 class="text-center">
  <img src="{{baseUrl}}/img/logo.svg">
</h1>

<h1 class="text-center">
  PDF Rest
</h1>

<p>
  <b>PDF Rest</b> is an <a href="https://github.com/marxjmoura/pdfrest">open source</a> REST API
  that allows you to edit PDF files and convert to PDF/A.
</p>

<p>
  Covered features:

  <ul>
    <li>Convert PDF to PDF/A.</li>
    <li>Replace title, author and creation date.</li>
    <li>Add or replace custom properties.</li>
  </ul>
</p>

<p>
  This project is possible thanks to <a href="https://github.com/itext/itext7-dotnet">iText for .NET</a>.
</p>

{{/inline}}

{{/www/page}}
